
#viewport {
	position: absolute;
	top: 0px;  /*32px; // without menubar now*/
	left: 0px;
	right: 0;
	bottom: 0;
	z-index: 1;
}


/* Tools */
#tools {
	position: fixed;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: 90;
	pointer-events: none;
}

.buttongroup {
	display: inline-block;
	font-size: 4.5em;
	line-height: 1em;
	pointer-events: auto;
	background-color: #e6e6e6;
	border-radius: 0.2em;
	border: 1px solid #ccc;
	position: absolute; top: 0.3em; left: 0.3em;
}

#view.buttongroup {
	top: auto;
	bottom: 0.3em;
	display: none;
}
#modes.buttongroup {
	left: auto;
	right: 0.3em;
}

.buttongroup .button{
	display: inline-block;
	vertical-align: top;
	line-height: 0.8em;
	pointer-events: auto;
	border-left: 1px solid #d0d0d0;
	color: #e57245;
	cursor: pointer;
	padding: 0.08em 0.03em 0 0.03em;
}
.buttongroup .button:first-child {
	border-left: none;
	border-radius: 0.2em 0 0 0.2em;
}
.buttongroup .button:last-child {
	border-radius: 0 0.2em 0.2em 0;
}


.buttongroup .button.icon-play{
	color: #5365d3;
}

.buttongroup .button:hover{
	background-color: #fff;
}

.buttongroup .button.active{
	color: #fff;
	background-color: #e57245;
}
.buttongroup .button.icon-play.active{
	background-color: #5365d3;
}

/* Menubar */
#menubar {
	position: absolute;
	width: 100%;
	height: 32px;
	background: #eee;
	padding: 0px;
	margin: 0px;
	z-index: 100;
}

	#menubar .menu {
		float: left;
		width: 50px;
		cursor: pointer;
	}

	#menubar .Panel {
		color: #888;
	}

		#menubar .menu .options {
			display: none;
			padding: 5px 0px;
			background: #eee;
			width: 140px;
		}

		#menubar .menu:hover .options {
			display: block;
		}

			#menubar .menu .options hr {
				border-color: #ddd;
			}

			#menubar .menu .options .option {
				color: #666;
				background-color: transparent;
				padding: 5px 10px;
				margin: 0px !important;
			}

				#menubar .menu .options .option:hover {
					color: #fff;
					background-color: #08f;
				}
				
/* Sidebars */

#sidebars .sidebar {
	position: absolute;
	top: 7em;
	bottom: 1.5em;
	width: 25em;
	overflow: auto;
	z-index: 80;
	border-radius: 0.3em;
	pointer-events: none;
}
#sidebars .sidebar.left {
	right: auto;
	left: 1.5em;
	/* bottom: 7.5em; */
}
#sidebars .sidebar.right {
	left: auto;
	right: 1.5em;
}

.sidebar>.Panel {
	margin-bottom: 0.5em;
	overflow: hidden;
}
.sidebar>.Panel h2 {
	font-size: 1em; letter-spacing: 0.1em;
	color: #e57245;
	text-transform: uppercase;
}
.sidebar.right h2{
	text-align: right;
}
.sidebar>.Panel>.Panel {
	background-color: #e6e6e6;
	border-radius: 1em;
	overflow: hidden;
	pointer-events: auto;
}

.sidebar>.Panel .Panel h3, .sidebar>.Panel .Panel span.objectType  {
	color: #5365d3;
	text-transform: uppercase;
	font-size: 0.9em;
	font-weight: normal;
	margin: 0 0 1.5em 0;
	letter-spacing: 0.1em;
}
.sidebar>.Panel .Panel span.objectType {
	float: right; margin-top: -2.5em;
	margin-bottom: 0;
}

.sidebar>.Panel>.Panel>.Panel {
	padding: 1em;
	border-top: 1px solid #ccc;
}
.sidebar>.Panel>.Panel>.Panel:first-child {
	border-top: none;
}

	/* advanced switch */
	.sidebar .Panel.advancedSwitch {
		background-color: #fff;
	}
	.sidebar>.Panel .switchButton {
		font-size: 1em; letter-spacing: 0.1em;
		color: #e57245;
		text-decoration: none;
	}
	
	.sidebar .Panel.advancedMode .advanced {
		display: block;
	}
	.sidebar .Panel.easyMode .advanced, .sidebar .Panel .disabled {
		display: none !important;
	}

	/* menu lists */
	.sidebar .Panel.menu {
		width: 16em;
	}
	.sidebar ul.menu {
		list-style: none;
		margin: 0; padding: 0;
	}
	.sidebar ul.menu li {
		float: left; width: 100%;
		/* display: inline-block; */
	}
	.sidebar ul.menu a {
		cursor: pointer;
		display: block; padding: 0.7em 1em;
		border-bottom: 1px solid #ccc;
	}
	.sidebar ul.menu li.twoup {
		float: left; width: 50%;
	}
	.sidebar ul.menu li.twoup a{
		border-right: 1px solid #ccc;
	}
	.sidebar ul.menu a:hover, .sidebar ul.menu a.active {
		background-color: #fff;
	}
	
	/* object menu list */
	.sidebar ul.menu.object li {
		float: left; width: 50%;
	}
	.sidebar ul.menu.object li a {
		padding: 1em;
		border-right: 1px solid #e6e6e6;
	}
	.sidebar ul.menu.object li:nth-of-type(2n-1) a {
		border-right: 1px solid #ccc;
	}
	.sidebar ul.menu.object li img {
		width: 100%; height: auto;
	}
	
	/* scene fancy select */
	
	.sidebar .Panel.FancySelect {
		cursor: default;
		overflow: auto;
		outline: none;
		height: 12em;
		color: #444;
		width: 18em;
		float: right;
	}
	.sidebar .Panel.FancySelect .option {
		padding: 0.4em 0.8em;
		white-space: nowrap;
	}
	.sidebar .Panel.FancySelect .option.active, .sidebar .Panel.FancySelect .option:hover {
		background-color: #fff;
	}
	.sidebar .Panel.FancySelect .objNameDisplay {
		display: inline-block;
		max-width: 9em;
		text-overflow: ellipsis;
		overflow: hidden;
	}
	.sidebar .Panel.FancySelect .option span[class^="icon-"] {
		font-size: 1.2em; line-height: 0.6em;
		float: right;
		color: #ccc;
		cursor: pointer; margin-left: 0.4em;
	}
	.sidebar .Panel.FancySelect .option:hover span.icon-dupli-small {
		color: #5365d3;
	}
	.sidebar .Panel.FancySelect .option:hover span.icon-del-small {
		color: #d00;
	}
	
	
	
	
#gallery{
    position: relative;
    top: 50px;
    left: 300px;
    margin-right: 700px;
    bottom: 32px;
    z-index: 2;	   
    /* border: 1px solid black; */
    height: 170px;
	/* overflow: auto; */
}

#cameraPanel{
    width:35%;
    float: left;
}

#cameraArrayList{
    /* border: 1px solid blue; */
    overflow-x:scroll;
    overflow-y:hidden;
    white-space:nowrap;
    height: 140px;
    margin-Left:7px;
    margin-top:5px;
    background: #eee;
    border-radius: 10px;
}

#cameraArrayList>.Panel{
    margin-top:-5px;
    margin-left:5px;
    text-align:center;
}

#cameraArrayList>.Panel>.Panel{
    float:left;	    
}

#imageList{
    /* border: 1px solid blue; */
    overflow-x:scroll;
    overflow-y:hidden;
    white-space:nowrap;
    height: 140px;
    margin-Left:7px;
    margin-top:5px;
    background: #eee;
    border-radius: 10px;
}

#imageList>.Panel{
    margin-top:-15px;
}

.imageContainer{
    float:left;	
}

.imageContainer:hover a .galleryDeleteIcon{display:block; cursor:pointer;}

.imageContainer a canvas{
    width: 310px; 
    height: 140px;
    border: solid 1px #ccc; 
    padding: 1px;
}

.galleryDeleteIcon{
    /* position : absolute; */
    display:none;
    background: url('../images/iconset/Delete.png') right top no-repeat;
    margin: -125px 10px 0px 285px; 
    height: 16px; 
    width: 16px;
    position: relative; 
    z-index: 100; 
    opacity: 0.8; 
    filter: alpha(opacity=80);

    /* z-index:100 */
}

#imagePanel{
    width:65%;
    float:left;
}


#galleryUpload{
    position: relative;
    top: 60px;
    left: 306px;
    margin-right: 705px;
    bottom: 32px;
    z-index: 2;
    height: 250px;
    /* display:none; */
    background-color:#eee;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

.galleryUploadPanel{
    width: 49%;
    height:100%;
    float: left;
    margin-left:5px;
    /* border: 1px solid black; */
}

.galleryUploadPanel > input{
    margin: 5px auto -10px;
    display: block;
    padding: 5px;
    width: 90%;
}

.galleryUploadPanel > textarea{
    margin: 5px auto;
    display: block;
    padding: 5px;
    width: 90%;
    
    padding-bottom: 10px;
}

.galleryUploadPanel > button{
    margin: 15px auto 0px auto;
    display: block;
    padding: 10px 80px;
    position:
}