
#viewport {
	position: absolute;
	top: 32px;
	left: 0px;
	right: 0;
	bottom: 0;
	z-index: 1;
}


/* Tools */
#tools {
	position: fixed;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: 90;
	pointer-events: none;
}

.buttongroup {
	display: inline-block;
	font-size: 4.5em;
	line-height: 1em;
	pointer-events: auto;
	background-color: #e6e6e6;
	border-radius: 0.2em;
	border: 1px solid #ccc;
	position: absolute; top: 0.8em; left: 0.3em;
}

#view.buttongroup {
	left: auto;
	right: 0.3em;
}
#menu.buttongroup {
	top: auto;
	bottom: 0.3em;
}

.buttongroup .button{
	display: inline-block;
	vertical-align: top;
	line-height: 0.5em;
	pointer-events: auto;
	border-left: 1px solid #d0d0d0;
	color: #e57245;
	cursor: pointer;
}
.buttongroup .button:first-child {
	border-left: none;
	border-radius: 0.2em 0 0 0.2em;
}
.buttongroup .button:last-child {
	border-radius: 0 0.2em 0.2em 0;
}


.buttongroup .button.icon-play{
	color: #5365d3;
}

.buttongroup .button:hover{
	background-color: #fff;
}

.buttongroup .button.active{
	color: #fff;
	background-color: #e57245;
}
.buttongroup .button.icon-play.active{
	background-color: #5365d3;
}

/* Menubar */
#menubar {
	position: absolute;
	width: 100%;
	height: 32px;
	background: #eee;
	padding: 0px;
	margin: 0px;
	z-index: 100;
}

	#menubar .menu {
		float: left;
		width: 50px;
		cursor: pointer;
	}

	#menubar .Panel {
		color: #888;
	}

		#menubar .menu .options {
			display: none;
			padding: 5px 0px;
			background: #eee;
			width: 140px;
		}

		#menubar .menu:hover .options {
			display: block;
		}

			#menubar .menu .options hr {
				border-color: #ddd;
			}

			#menubar .menu .options .option {
				color: #666;
				background-color: transparent;
				padding: 5px 10px;
				margin: 0px !important;
			}

				#menubar .menu .options .option:hover {
					color: #fff;
					background-color: #08f;
				}
				
/* Sidebar */

#sidebar {
	position: absolute;
	right: 1.5em;
	top: 9.5em;
	bottom: 1.5em;
	width: 25em;
	overflow: auto;
	z-index: 80;
	border-radius: 0.3em;
}

	#sidebar input,
	#sidebar textarea,
	#sidebar select {
		/* background: #ccc; */
	}

	#sidebar>.Panel {
		margin-bottom: 0.5em;
		overflow: hidden;
	}
	#sidebar>.Panel h2 {
		font-size: 1em; letter-spacing: 0.1em;
		text-align: right;
		color: #e57245;
		text-transform: uppercase;
	}
	#sidebar>.Panel>.Panel {
		background-color: #e6e6e6;
		border-radius: 1em;
		overflow: hidden;
	}
	
	#sidebar>.Panel>.Panel>.Panel {
		padding: 1em;
		border-top: 1px solid #ccc;
	}
	#sidebar>.Panel>.Panel>.Panel:first-child {
		border-top: none;
	}

	#sidebar #outliner {
		width: 100%;
		height: 140px;
		color: #444;
		font-size: 12px;
	}

	#gallery{
	    position: relative;
	    top: 50px;
	    left: 300px;
	    margin-right: 700px;
	    bottom: 32px;
	    z-index: 2;	   
	    /* border: 1px solid black; */
	    height: 170px;
	    
	    
	/* overflow: auto; */
	}

	#cameraPanel{
	    width:35%;
	    float: left;
	    
	}

	#cameraArrayList{
	    /* border: 1px solid blue; */
	    overflow-x:scroll;
	    overflow-y:hidden;
	    white-space:nowrap;
	    height: 140px;
	    margin-Left:7px;
	    margin-top:5px;
	    background: #eee;
	    border-radius: 10px;
	}

	#cameraArrayList>.Panel{
	    margin-top:-5px;
	    margin-left:5px;
	    text-align:center;
	}

	#cameraArrayList>.Panel>.Panel{
	    float:left;	    
	}

	#imageList{
	    /* border: 1px solid blue; */
	    overflow-x:scroll;
	    overflow-y:hidden;
	    white-space:nowrap;
	    height: 140px;
	    margin-Left:7px;
	    margin-top:5px;
	    background: #eee;
	    border-radius: 10px;
	}

	#imageList>.Panel{
	    margin-top:-15px;
	}

	.imageContainer{
	    float:left;	
	}

	.imageContainer:hover a .galleryDeleteIcon{display:block; cursor:pointer;}

	

	.imageContainer a img{
	    width: 310px; 
	    height: 140px;
	    border: solid 1px #ccc; 
	    padding: 1px;
	}

	.galleryDeleteIcon{
	    /* position : absolute; */
	    display:none;
	    background: url('../images/Delete.png') right top no-repeat;
	    margin: -125px 10px 0px 285px; 
	    height: 16px; 
	    width: 16px;
	    position: relative; 
	    z-index: 100; 
	    opacity: 0.8; 
	    filter: alpha(opacity=80);

	    /* z-index:100 */
	}

	#imagePanel{
	    width:65%;
	    float:left;
	}